body {
  margin: 0;
}

.footer-h1 {
  color: white;
  font-size: 20px;
}

.footer-main {
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-container {
  height: 100%;
  margin: auto;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-top {
  background-image: url("../images/background_footer.png");
  background-repeat: no-repeat;
}

.footer-div {
  height: 366px;
  width: 300px;
}

.footer-about {
  color: #ccc;
}

.footer-about-img {
  width: 250px;
}

.footer-more {
  text-decoration: none !important;
  color: #ccc;
}

.footer-more:hover {
  color: #25c2f5;
}

.footer-gallery-main {
  width: 300px;
}

.footer-gallery-link {
  text-decoration: none;
}

.footer-gallery-img1 {
  width: 130px;
  margin: 5;
  top: 0;
  left: 0;
}
.footer-gallery-img2 {
  width: 130px;
  margin: 5;
  top: 0;
  right: 0;
}
.footer-gallery-img3 {
  width: 130px;
  margin: 5;
  bottom: 0;
}
.footer-gallery-img4 {
  width: 130px;
  margin: 5;
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  color: #ccc;
  font-size: 18px;
  margin-bottom: 30px !important;
}

.footer-link:hover {
  color: #25c2f5;
}

.footer-video-player {
}

.footer-bottom {
  background-color: #2a2a2a;
  height: 80px;
}

.footer-copyright {
  color: #25c2f5;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-navbar {
  margin-left: 350px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-nav-link {
  text-decoration: none !important;
  color: #25c2f5;
  font-size: 20px;
}

.footer-navbar-ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.footer-navbar-li {
  display: inline;
  margin: 10px;
}

.footer-nav-link:hover {
  color: #ccc;
}

.donator-main {
  height: 1050px;
  background-image: url("../images/background_donator.jpg");
}

.donator-container {
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.donator-paket-img {
  float: right;
}

.donator-paketi {
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.donator-paket {
  margin: 20px;
  margin-top: 200px;
}

.donator-paket-top {
  background-color: #1a1a1a;
}

.donator-paket-bottom {
  background-color: #2a2a2a;
  width: 273px;
  height: 580px;
}

.donator-paket-text {
  color: white;
  font-size: 25px;
  margin: 0;
  padding: 30px;
  line-height: 50px;
}

.donator-button {
  background-color: #ffc70e;
  color: #2a2a2a;
  width: 213px;
  height: 60px;
  margin: 30px;
  padding: 0;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
}

.statistika-container {
  display: flex;
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.statistika-main {
  height: 500px;
  background-image: url("../images/background_stats.jpg");
}

.statistika-element {
  width: 200px;
  height: 300px;
  background-color: #2a2a2a;
  margin: 30px;
  border-radius: 12px;
  margin-top: 100px;
}

.statistika-img {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.statistika-ime {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.statistika-broj {
  color: #25c2f5;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}
.statistika-opis {
  color: white;
  text-align: center;
}

@media (max-width: 1600px) {
  .donator-paket-img {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .donator-paket-top {
    width: 100%;
  }
  .donator-bronze,
  .donator-silver,
  .donator-gold,
  .donator-vip {
    width: 100%;
  }

  .donator-paket-text {
    font-size: 15px;
    line-height: 40px;
  }

  .donator-paket-bottom {
    width: 100%;
    height: 500px;
  }

  .donator-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
  }

  .statistika-element {
    width: 150px;
    height: 250px;
  }

  .statistika-ime {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .statistika-opis {
    font-size: 15px;
  }

  .statistika-broj {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .statistika-img {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1150px) {
  .footer-nav-link {
    font-size: 15px;
  }
  .footer-copyright {
    font-size: 15px;
  }
}

@media (max-width: 1050px) {
  .statistika-element {
    width: 100px;
    height: 200px;
  }

  .statistika-ime {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .statistika-opis {
    font-size: 12px;
  }

  .statistika-broj {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .statistika-img {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .donator-paket-text {
    font-size: 12px;
    line-height: 30px;
    padding: 20px;
  }

  .donator-paket-bottom {
    width: 100%;
    height: 400px;
  }

  .donator-button {
    width: 100px;
    height: 40px;
    margin: 20px;
    font-size: 12px;
  }

  .statistika-main {
    height: 400px;
  }

  .donator-main {
    height: 850px;
  }

  .footer-div {
    width: 200px;
  }

  .footer-gallery-main {
    width: 200px;
  }

  .footer-gallery-img1,
  .footer-gallery-img2,
  .footer-gallery-img3,
  .footer-gallery-img4 {
    width: 80px;
  }

  .footer-about-img {
    width: 150px;
  }
}

@media (max-width: 750px) {
  .statistika-element {
    margin: 5px;
    margin-top: 100px;
  }

  .donator-paket-text {
    font-size: 10px;
    line-height: 30px;
    padding: 20px;
  }

  .donator-main {
    height: 550px;
  }

  .donator-paket-bottom {
    height: 300px;
  }

  .donator-paket {
    margin: 10px;
    margin-top: 100px;
  }
}

@media (max-width: 640px) {
  .footer-div {
    width: 120px;
  }
  .footer-about-img {
    width: 70px;
  }

  .footer-about,
  .footer-more {
    font-size: 12px;
  }

  .footer-h1 {
    font-size: 15px;
  }

  .footer-gallery-main {
    width: 120px;
  }
  .footer-gallery-img1,
  .footer-gallery-img2,
  .footer-gallery-img3,
  .footer-gallery-img4 {
    width: 50px;
  }

  .footer-top {
    height: 300px;
  }

  .footer-link {
    font-size: 12px;
  }

  .donator-paket {
    margin: 5px;
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .donator-main {
    height: 1100px;
  }
  .donator-paketi {
    display: inline-block;
    height: auto;
  }
  .donator-paket-bottom {
    height: 150px;
  }

  .donator-paket-text {
    height: 90px;
    line-height: 15px;
    padding: 5px;
  }

  .donator-button {
    margin-top: 0;
  }
  .donator-paket {
    margin-top: 10px;
  }

  .statistika-main {
    height: 850px;
  }

  .statistika-container {
    display: inline-block;
  }
  .statistika-element {
    margin-top: 15px;
    height: 150px;
  }
  .statistika-ime,
  .statistika-opis {
    font-size: 10px;
  }
  .statistika-broj {
    font-size: 20px;
  }
  .statistika-img {
    height: 50px;
    margin: 5px;
    margin-left: 20px;
  }

  .statistika-slika {
    height: 50px;
  }
  .statistika-container {
    margin-left: 38%;
  }

  .footer-navbar {
    margin-left: 100px;
  }
}

@media (max-width: 450px) {
  .statistika-container {
    margin-left: 35%;
  }
}
