html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


.ht-options {
	background: #2a2a2a;
	padding: 13px 0;
}

.ht-options .ht-widget ul li {
	font-size: 9px;
	color:#ffc70e;
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.ht-options .ht-widget ul li {
	cursor: pointer;
}

.ht-options .ht-widget ul li i {
	font-size: 14px;
	color: green;
	margin-right: 5px;
}

.ht-options .ht-widget ul li span {
	font-size: 14px;
	color:#25c2f5;
}

.ht-options .ht-widget ul li span {
	font-size: 12px;
	text-transform: uppercase;
}

.ht-options .ht-widget ul li:after {
	position: absolute;
	right: -18px;
	top: 2px;
	color: #eaeaea4d;
}

.ht-options .ht-widget ul li:last-child {
	margin-right: 0;
}

.ht-options .ht-widget ul li:last-child:after {
	display: none;
}

.ht-options .ht-social {
	text-align: right;
}

}
.ht-options .ht-social a{
	font-size: 19px;
	background-color: #25c2f5;
	display: inline-block;
	margin-left: 9px;
}

.logo {
	width: 100%;
	height:30%;
	background: #0d0d0d;
	padding: 10px 0;
}

.logo a {
	display:inline-block;
	width: 100%;
    height:20%;
}


.carousel-item{
	/*height: 100vh;
	min-height: 300px;*/
	background: no-repeat center scroll;
	-webkit-background-size:cover;
	background-size: cover;
}

.carousel-item::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
}

.carousel-caption{
	bottom: 180px;
	padding-left: 100px;
	padding-right: 100px;
}

.carousel-caption h5{
	font-size: 80px;
	font-weight: 700;
}

.carousel-caption p{
	font-size: 18px;
	top: 2rem;
	color: #66a3ff;
}

.slider-btn{
	margin-top: 30px;
}

.slider-btn .btn{
	background-color: #ffc70e;
	color: black;
	border-radius: 5px;
	padding:2rem 5rem;
	font-size: 15px;
	margin-right: 25px;
	font-weight: bold;
}

.slider-btn .btn-2{
	color:black;
	background-color: #ffc70e;

}


/* SREDJIVANJE MENIJA 
.sidebar{
	position: fixed;
	top: 0px;
	left: -250px;
	background: #262626;
	width: 250px;
	height: 60%;
	transition: .3s;
  
}

.active{
 	left: 0;
}

ul{
	margin: 0;
	padding: 20px 0;
}

ul li{
	list-style: none;
}

ul li a{
	padding: 10px 20px;
	color: #fff;
	display: block;
	border-bottom: 1 px solid rgba(0,0,0,.2);
  text-decoration:none;
  text-align:center;
}

.sidebarBtn{
	position: absolute;
	top: 0;
	right: -50px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	cursor: pointer;
	background: #f5f5f5;
	border:none;
	outline: none;
}

.sidebarBtn span{
	display: block;
	width: 35px;
	height: 3px;
	background: #262626;
	position: absolute;
	top: 24px;
	transition: .3s;
}

.sidebarBtn span:before{
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}

.sidebarBtn span:after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}

.sidebarBtn.toggle span{
	background: transparent;
}

.sidebarBtn.toggle span:before{
	top: 0;
	transform: rotate(45deg);
}

.sidebarBtn.toggle span:after{
	top: 0;
	transform: rotate(-45deg);
}
*/
@media only screen and (max-width: 767px) {
	.logo {
		padding: 15px 0;
	}
	.logo img {
		max-width: 120px;
	}
	.nav-options {
		text-align: center;
	}
	.nav-options .nav-menu {
		display: none;
	}
	.nav-options .humberger-menu {
		float: none;
		margin-right: 10px;
	}
	.nav-options .nav-search {
		float: none;
	}
	.hero-slider.owl-carousel .owl-dots {
		max-width: 100%;
		margin-left: 15px;
		margin-right: 15px;
		bottom: 100px;
	}
	.hs-text {
		padding-top: 50px;
	}
	.sidebar-option {
		padding-left: 0;
		padding-top: 40px;
	}
	.details-text .dt-pic-item .dp-pic,
	.contact-form .dt-pic-item .dp-pic {
		float: none;
		margin-right: 0;
	}
	.details-text .dt-pic-item .dp-text,
	.contact-form .dt-pic-item .dp-text {
		overflow: visible;
		padding-top: 20px;
	}
	.details-text .dt-related-post .rp-prev,
	.contact-form .dt-related-post .rp-prev {
		margin-bottom: 30px;
		overflow: hidden;
	}
	.tab-elem .nav-tabs {
		position: relative;
		right: 0;
		top: 0;
		margin-bottom: 20px;
	}
	.un-slider.owl-carousel .owl-nav {
		top: -46px;
	}
	.video-guide-section .tab-elem .nav-tabs {
		top: 0;
		right: 0;
	}
	.vg-slider.owl-carousel .owl-nav {
		top: -46px;
	}
	.ip-item .ip-pic {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.ip-item .ip-pic img {
		width: 100%;
	}
	.ip-item .ip-text {
		overflow: visible;
		padding-top: 30px;
	}
	.copyright-area .ca-text {
		text-align: center;
		margin-bottom: 11px;
	}
	.copyright-area .ca-links {
		text-align: center;
	}
	.ht-options .ht-widget {
		text-align: center;
		margin-bottom: 10px;
	}
	.ht-options .ht-social {
		display: none;
	}
	.categories-grid-section .col-lg-8,
	.categories-grid-section .col-lg-4 {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.categories-list-section .col-lg-8,
	.categories-list-section .col-lg-4 {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.cl-item .cl-pic {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.cl-item .cl-pic img {
		width: 100%;
	}
	.cl-item .cl-text {
		overflow: visible;
		padding-top: 30px;
	}
	.details-post-section .col-lg-8,
	.details-post-section .col-lg-4 {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.details-text .dt-leave-comment form .input-list input,
	.contact-form .dt-leave-comment form .input-list input {
		width: 100%;
		margin-right: 0;
		float: none;
	}
	.details-text .dt-leave-comment form .input-list,
	.contact-form .dt-leave-comment form .input-list {
		margin-right: 0;
	}
	.details-text .dt-comment .dc-item.reply-item,
	.contact-form .dt-comment .dc-item.reply-item {
		margin-left: 40px;
	}
	.details-text .dt-overall-rating .or-heading .or-item .or-loader,
	.contact-form .dt-overall-rating .or-heading .or-item .or-loader {
		float: none;
	}
	.details-text .dt-overall-rating .or-heading .or-item .or-text,
	.contact-form .dt-overall-rating .or-heading .or-item .or-text {
		overflow: visible;
		padding-top: 30px;
	}
	.text-404 .search-404 {
		width: 440px;
	}
	.signup-text .signup-form {
		width: 410px;
	}
	.dg-slider .dg-item {
		height: 480px;
	}
	.search-model-form input {
		width: 100%;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.humberger-menu-wrapper {
		width: 300px;
		padding: 30px;
	}
	.trending-post {
		padding: 35px 20px 40px 20px;
	}
	.tab-elem .nav-item {
		margin-right: 5px;
	}
	.details-text .dt-share .ds-title,
	.contact-form .dt-share .ds-title {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.details-text .dt-share .ds-links a,
	.contact-form .dt-share .ds-links a {
		margin-right: 6px;
		margin-bottom: 10px;
	}
	.details-text .dt-author .da-pic,
	.contact-form .dt-author .da-pic {
		float: none;
		margin-right: 0;
	}
	.details-text .dt-author .da-text,
	.contact-form .dt-author .da-text {
		overflow: visible;
		padding-top: 30px;
	}
	.details-text .dt-author .da-text .da-links a,
	.contact-form .dt-author .da-text .da-links a {
		margin-right: 4px;
		margin-bottom: 8px;
	}
	.details-text .dt-comment .dc-item .dc-pic,
	.contact-form .dt-comment .dc-item .dc-pic {
		float: none;
		margin-right: 0;
	}
	.details-text .dt-comment .dc-item .dc-text,
	.contact-form .dt-comment .dc-item .dc-text {
		overflow: visible;
		padding-top: 30px;
	}
	.details-text .dt-comment .dc-item .dc-text .reply-btn,
	.contact-form .dt-comment .dc-item .dc-text .reply-btn {
		position: relative;
		right: 0;
		top: 0;
	}
	.details-text .dt-overall-rating .or-heading .or-skill,
	.contact-form .dt-overall-rating .or-heading .or-skill {
		overflow: visible;
		margin-right: 0;
	}
	.details-text .dt-overall-rating .or-heading .or-skill .skill-item,
	.contact-form .dt-overall-rating .or-heading .or-skill .skill-item {
		width: 100%;
		float: none;
		overflow: visible;
		margin-right: 0;
	}
	.details-text .dt-overall-rating .or-qualities,
	.contact-form .dt-overall-rating .or-qualities {
		overflow: visible;
		margin-right: 0;
	}
	.details-text .dt-overall-rating .or-qualities .qualities-item,
	.contact-form .dt-overall-rating .or-qualities .qualities-item {
		width: 100%;
		float: none;
		overflow: visible;
		margin-right: 0;
	}
	.details-text .dt-overall-rating .or-rating p,
	.contact-form .dt-overall-rating .or-rating p {
		float: none;
		margin-bottom: 5px;
	}
	.details-text .dt-overall-rating .or-rating .rating-star,
	.contact-form .dt-overall-rating .or-rating .rating-star {
		float: none;
	}
	.text-404 h1 {
		font-size: 135px;
	}
	.text-404 .search-404 {
		width: 290px;
	}
	.copyright-area .ca-links a {
		margin-right: 15px;
	}
	.signup-text .signup-form {
		width: 280px;
	}
	.editor-choice .ec-item .ec-pic {
		float: none;
		margin-bottom: 15px;
	}
	.search-model-form input {
		font-size: 28px;
	}
}
